$_main_color: #242424;
$_main_bg_color: #eff0eb;
$_header_color: #747bff;
$_header_accent_color: red;
$_footer_bg_color: #111211;
$_purple_title_color: #676ec6;
$_purple_text_color: #cfb6cb;
$_secondary_bg_color: #cccfec;
$_secondary_border_color: #eff0eb;
$_white_text_color: #eff0eb;
$_primary_green_color: #8bccb9;
$_primary_100_color: #d1ebe3;
$_primary_greey_color: #4a4a4a;
$_body_bg_color: #eff0eb;
$_transition_dur_and_func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$_faq_item_hover_color: #8bccb9;
$_primary_100_red_color: #dfcedc;
$_primary_100_yellow_color: #f0eda7;
$_primary_200_yellow_color: #bcb642;
