$_main_color: #242424;
$_main_bg_color: rgba(255, 255, 255, 0.87);
$_header_color: #747bff;
$_header_accent_color: red;
$_footer_bg_color: #111211;
$_purple_text_color: #cfb6cb;
$_secondary_border_color: #eff0eb;
$_white_text_color: #eff0eb;
$_primary_green_color: #8bccb9;
