.advantages-container {
  overflow-wrap: break-word;

  // padding-top: 72px;
  // padding-bottom: 72px;
  padding-top: 112px;
  padding-bottom: 32px;

  @media screen and (min-width: 1440px) {
    // padding-top: 104px;
    // padding-bottom: 40px;
    padding-top: 164px;
    padding-bottom: 44px;

    border-right: 1px solid $_primary_greey_color;
    border-left: 1px solid $_primary_greey_color;
  }
}

.advantages-title {
  text-align: right;
  white-space: normal;
  font-family: 'Margarine';
  font-size: 64px;
  line-height: 72px;

  margin-bottom: 40px;
  margin-left: 16px;

  .advantades-purple-title {
    color: $_purple_title_color;
  }

  .advantades-yellow-title {
    color: $_primary_200_yellow_color;
  }

  @media screen and (min-width: 1440px) {
    position: absolute;
    top: 590px;
    right: 0;
    font-size: 80px;
    line-height: 104px;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 336px 16px 256px 92px 256px 376px repeat(6, 1fr);
  }
}

.advantages-item {
  display: flex;

  gap: 8px;

  &.crossword {
    flex-direction: column;

    width: 212px;

    @media screen and (min-width: 1440px) {
      grid-area: 1 / 1 / 2 / 2;
    }
  }

  &.rainbow {
    flex-direction: column;

    width: 212px;
    margin-left: auto;

    @media screen and (min-width: 1440px) {
      grid-area: 2 / 6 / 3 / 7;
      margin-top: -240px;
    }
  }

  &.jar {
    flex-direction: column;

    width: 136px;

    @media screen and (min-width: 1440px) {
      flex-direction: column-reverse;
      align-items: flex-end;
      margin-bottom: 66px;
      margin-left: auto;
      margin-right: -40px;

      grid-area: 3 / 2 / 4 / 3;
    }
  }

  &.crossword-second {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 1440px) {
      flex-direction: column;
      align-items: flex-start;

      margin-top: 90px;

      grid-area: 3 / 1 / 4 / 2;
    }
  }

  &.picture {
    @media screen and (min-width: 1440px) {
      grid-area: 4 / 2 / 5 / 3;
      margin-top: 20px;
    }
  }

  &.skateboard {
    flex-direction: column;

    @media screen and (min-width: 1440px) {
      grid-area: 5 / 5 / 6 / 7;
      margin-left: -170px;
      width: 400px;
    }
  }

  &.volcano {
    flex-direction: column;

    @media screen and (min-width: 1440px) {
      flex-direction: column-reverse;
      grid-area: 6 / 3 / 7 / 5;

      margin-top: 80px;
    }
  }

  &.message {
    height: 72px;
    margin-left: 76px;

    @media screen and (min-width: 1440px) {
      flex-direction: column;

      width: 88px;
      height: 224px;
      grid-area: 6 / 1 / 7 / 2;

      align-self: end;
    }
  }
}

.advantages-item-image-wrap {
  &.skateboard {
    @media screen and (min-width: 1440px) {
      position: relative;
      width: 400px;
      height: 200px;
      object-fit: contain;
    }
  }
}

.advantages-item-image {
  &.skateboard {
    @media screen and (min-width: 1440px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.volcano {
      @media screen and (min-width: 1440px) {
        width: 296px;
        height: 240px;
      }
    }
  }

  .message {
    @media screen and (min-width: 1440px) {
      width: 88px;
      height: 96px;
    }
  }
}

.advantages-item-text {
  font-size: 14px;
  line-height: 20px;

  text-align: justify;

  @media screen and (min-width: 1440px) {
    font-size: 16px;
    line-height: 24px;
  }

  &.picture {
    width: 200px;

    @media screen and (min-width: 1440px) {
      width: 312px;
    }
  }

  &.crossword-second {
    width: 144px;
  }

  &.message {
    width: 144px;

    @media screen and (min-width: 1440px) {
      width: auto;
    }
  }
}

.advantages-line {
  display: none;
  @media screen and (min-width: 1440px) {
    display: block;
    position: absolute;
    right: 210px;
    top: 422px;

    width: 424px;
  }
}
