.hero-wrapper {
  position: relative;
  background-color: $_main_bg_color;
  width: 288px;
  padding-top: 132px;
  padding-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1440px) {
    & {
      border-left: 1px solid $_main_color;
      border-right: 1px solid $_main_color;
      width: 1232px;
      display: flex;
      justify-content: space-between;
      padding-left: 104px;
      padding-right: 32px;
      padding-bottom: 44px;
    }
  }
  .hero-title {
    margin-bottom: 24px;
    font-family: 'Margarine';
    font-size: 72px;
    line-height: 122%;
    @media (min-width: 1440px) {
      & {
        margin-bottom: 16px;
        padding-top: 28px;
        line-height: 107%;
        font-size: 112px;
      }
    }
    .title-color-g {
      color: $_purple_text_color;
    }
    .title-color-u {
      color: #bcb742;
    }
    .title-color-bb {
      color: $_purple_title_color;
    }
    .title-color-ins {
      color: $_primary_green_color;
    }
  }
  .text-content {
    font-size: 14px;
    line-height: 143%;
    width: 288px;
    margin-bottom: 16px;
    @media (min-width: 1440px) {
      & {
        font-size: 16px;
        line-height: 150%;
        width: 400px;
        margin-bottom: 40px;
      }
    }
  }
  .google-btn {
    margin-bottom: 32px;
    width: 216px;
    height: 64px;
    border-radius: 8px;
    @media (min-width: 1440px) {
      & {
        width: 297px;
        height: 88px;
      }
    }
    & img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .google-btn:active,
  .google-btn:hover {
    box-shadow: 4px 4px 0px 0px $_primary_greey_color;
  }
  .scrin {
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
    padding-left: 32px;
    align-items: flex-end;
    @media (min-width: 1440px) {
      & {
        column-gap: 28px;
        padding-left: 0;
      }
      & svg {
        width: 148px;
        height: 69px;
      }
    }
    .phone {
      width: 148px;
      @media (min-width: 1440px) {
        & {
          width: 296px;
        }
      }
    }
  }
  .hand-photo {
    display: none;
    @media (min-width: 1440px) {
      & {
        display: block;
        width: 360px;
        height: 300px;
        position: absolute;
        z-index: 3;
        left: 0;
        bottom: -36px;
      }
    }
  }
}
