.police-section {
  width: 288px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1440px) {
    & {
      width: 1232px;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
    }
  }
}
.police-wrapper {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  width: 288px;
  padding-top: 148px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 72px;
  @media (min-width: 1440px) {
    & {
      font-size: 16px;
      line-height: 150%;
      padding-top: 180px;
      width: 1024px;
      padding-bottom: 104px;
    }
  }
  .police-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-bottom: 4px;
    @media (min-width: 1440px) {
      & {
        font-size: 24px;
        line-height: 133%;
        margin-bottom: 16px;
      }
    }
  }
  .police-text {
    margin-bottom: 12px;
  }
}
