.reviews-wrapper {
  position: relative;
  background-color: $_main_bg_color;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288px;
  // padding-top: 72px;
  padding-top: 132px;
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1440px) {
    & {
      width: 1232px;
      padding-top: 164px;
      padding-bottom: 44px;
    }
  }
  .title-wrapper {
    width: 300px;
    height: 104px;
    margin-bottom: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .reviews-title {
      font-size: 72px;
    }
    .title-effect {
      position: absolute;
      top: -8px;
      right: -20px;
    }
    @media (min-width: 1440px) {
      & {
        position: absolute;
        z-index: 3;
        top: 132px;
        right: 114px;
      }
      .reviews-title {
        font-size: 82px;
      }
      .title-effect {
        top: -16px;
        right: -44px;
      }
      & svg {
        width: 62px;
        height: 114px;
      }
    }
  }
  // .slider {
  // width: 288px;
  // height: 512px;
  // background-color: inherit;
  // margin-bottom: 40px;
  // @media (min-width: 1440px) {
  //   & {
  //     border: 1px solid #000;
  //     width: 1010px;
  //     margin-left: 4px;
  //     margin-right: auto;
  //   }
  // }
  // }
  .reviews-btn {
    width: 56px;
    height: 56px;
    border: 1px solid $_main_color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    // @media (min-width: 1440px) {
    //   & {
    //     position: relative;
    //     left: 500px;
    //     bottom: 100px;
    //   }
    // }
    .arrow-btn {
      border: none;
      background-color: inherit;
      .arrow-icon {
        fill: none;
        stroke: #000;
        rotate: 84deg;
        @media (min-width: 1440px) {
          & {
            rotate: 0deg;
            width: 64px;
            height: 24px;
          }
        }
      }
    }
    @media (min-width: 1440px) {
      & {
        width: 88px;
        height: 88px;
        position: relative;
        // left: 500px;
        // bottom: 100px;
      }
    }
  }
  .reviews-btn:hover {
    box-shadow: 4px 4px 0px #000;
    .arrow-icon:hover {
      stroke-width: 5px;
    }
  }
}
.reviews-left-line {
  @media screen and (max-width: 1439px) {
    display: none;
  }

  position: absolute;
  top: 0;
  bottom: 0;
  left: -18px;

  width: 19px;
  height: 100%;
}

.reviews-right-line {
  @media screen and (max-width: 1439px) {
    display: none;
  }

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  width: 315px;
  height: 100%;
}

// -------------------------------------

.slider {
  // border: 1px solid #000;

  width: 288px;
  height: 528px;
  padding-top: 8px;
  position: relative;
  margin-bottom: 40px;
  overflow: hidden;
  background-color: inherit;
  @media (min-width: 1440px) {
    & {
      display: none;
    }
  }
  .slider-wrapper {
    position: relative;
    display: flex;
    row-gap: 16px;
    flex-direction: column;
    justify-content: flex-start;
    .slider-item {
      // border: 1px solid #000;

      position: relative;
      width: 288px;
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 60px;

      background-position: center;
      background-size: cover;
      @media (min-width: 1440px) {
        & {
          width: 504px;
          height: 272px;
        }
      }
    }
    .cloud-title {
      font-size: 24px;
    }
    .cloud-content {
      display: none;
    }
    .text-active h4 {
      display: none;
    }
    .text-active p {
      display: flex;
    }
  }
}

.line-slider {
  display: none;
  @media (min-width: 1440px) {
    & {
      display: block;
      margin-left: 2px;
      margin-right: auto;
      padding-top: 80px;
    }
  }
  .line-slider-wrapper {
    // border: 1px solid #000;

    position: relative;
    display: flex;
    width: 1060px;
    height: 530px;
    margin-left: 4px;
    margin-right: auto;
    overflow: hidden;
    .line-slider-item {
      // border: 1px solid #000;
      width: 504px;
      height: 272px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 60px;
      background-position: center;
      background-size: cover;

      position: absolute;
      top: 0;
      right: 300px;
    }
    .cloud-title {
      font-size: 24px;
    }
    .cloud-content {
      display: none;
    }
    .text-active h4 {
      display: none;
    }
    .text-active p {
      display: flex;
    }
    .right-cloud {
      top: 110px;
      right: 2px;
      z-index: 3;
    }

    .center-cloud {
      top: 210px;
      right: 252px;
      z-index: 4;
    }

    .left-cloud {
      top: 70px;
      left: 2px;
      z-index: 3;
    }
  }
}

// ===============================================================

// ===============================================================

.slide-1 {
  background-image: url('./../img/reviews/cloud-pink.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .slide-1 {
      background-image: url('./../img/reviews/cloud-pink-2x.png');
    }
  }
}

.slide-2 {
  background-image: url('./../img/reviews/cloud-green.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .slide-1 {
      background-image: url('./../img/reviews/cloud-green-2x.png');
    }
  }
}

.slide-3 {
  background-image: url('./../img/reviews/cloud-yellow.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .slide-1 {
      background-image: url('./../img/reviews/cloud-yellow-2x.png');
    }
  }
}

.slide-4 {
  background-image: url('./../img/reviews/cloud-violet.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .slide-1 {
      background-image: url('./../img/reviews/cloud-violet-2x.png');
    }
  }
}

.slide-5 {
  background-image: url('./../img/reviews/cloud-pink.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .slide-1 {
      background-image: url('./../img/reviews/cloud-pink-2x.png');
    }
  }
}

.slide-6 {
  background-image: url('./../img/reviews/cloud-green.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .slide-1 {
      background-image: url('./../img/reviews/cloud-green-2x.png');
    }
  }
}
