.reviews-wrapper {
  position: relative;
  background-color: $_main_bg_color;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288px;
  padding-top: 132px;
  padding-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1440px) {
    & {
      width: 1232px;
      padding-top: 164px;
      padding-bottom: 4px;
    }
  }
  .title-wrapper {
    width: 300px;
    height: 104px;
    margin-bottom: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .reviews-title {
      font-family: 'Margarine';
      font-size: 64px;
      line-height: 112%;
      color: $_purple_title_color;
      @media (min-width: 1440px) {
        font-size: 80px;
        line-height: 130%;
      }
    }
    .title-color {
      color: $_primary_green_color;
    }
    .title-effect {
      position: absolute;
      top: -8px;
      right: -20px;
    }
    @media (min-width: 1440px) {
      & {
        position: absolute;
        z-index: 3;
        top: 132px;
        right: 114px;
      }
      .reviews-title {
        font-size: 82px;
      }
      .title-effect {
        top: -16px;
        right: -44px;
      }
      & svg {
        width: 62px;
        height: 114px;
      }
    }
  }
  .reviews-btn {
    position: relative;
    width: 56px;
    height: 56px;
    border: 1px solid $_main_color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    z-index: 7;
    @media (min-width: 1440px) {
      & {
        width: 88px;
        height: 88px;
        left: 500px;
        bottom: 100px;
      }
    }
    .arrow-btn {
      border: none;
      background-color: inherit;
      .arrow-icon {
        fill: none;
        stroke: #000;
        rotate: 84deg;
        @media (min-width: 1440px) {
          & {
            rotate: 0deg;
            width: 64px;
            height: 24px;
          }
        }
      }
    }
  }
  .reviews-btn:active,
  .reviews-btn:hover {
    box-shadow: 4px 4px 0px 0px #000;
    .arrow-icon:hover {
      stroke-width: 5px;
    }
  }
}
.reviews-left-line {
  @media screen and (max-width: 1439px) {
    display: none;
  }

  position: absolute;
  top: 0;
  bottom: 0;
  left: -18px;

  width: 19px;
  height: 100%;
}

.reviews-right-line {
  @media screen and (max-width: 1439px) {
    display: none;
  }

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  width: 315px;
  height: 100%;
}

.slider {
  width: 288px;
  height: 520px;
  padding-top: 8px;
  position: relative;
  margin-bottom: 40px;
  overflow: hidden;
  background-color: inherit;
  @media (min-width: 1440px) {
    & {
      display: none;
    }
  }
  .slider-wrapper {
    position: relative;
    display: flex;
    row-gap: 16px;
    flex-direction: column;
    justify-content: flex-start;
    .slider-item {
      position: relative;
      width: 288px;
      height: 156px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 60px;

      background-position: center;
      background-size: cover;
      @media (min-width: 1440px) {
        & {
          width: 504px;
          height: 272px;
        }
      }
    }
    .cloud-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: 0.02em;
    }
    .cloud-content {
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.02em;
      display: none;
    }
    .text-active h4 {
      display: none;
    }
    .text-active p {
      display: flex;
    }
  }
}

.line-slider {
  display: none;
  @media (min-width: 1440px) {
    & {
      display: block;
      margin-left: 2px;
      margin-right: auto;
      padding-top: 80px;
    }
  }
  .line-slider-wrapper {
    position: relative;
    display: flex;
    width: 1060px;
    height: 530px;
    margin-left: 4px;
    margin-right: auto;
    overflow: hidden;
    .line-slider-item {
      width: 504px;
      height: 272px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 60px;
      background-position: center;
      background-size: cover;
      transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);

      position: absolute;
      top: 0;
      right: 300px;
    }
    .cloud-title {
      font-size: 24px;
      font-weight: 500;
      line-height: 133%;
    }
    .cloud-content {
      font-size: 16px;
      line-height: 150%;
      display: none;
    }
    .text-active {
      flex-direction: column-reverse;
      row-gap: 8px;
      align-items: flex-start;
      padding-left: 110px;
    }
    .text-active p {
      display: flex;
    }
  }
}

.slide-1 {
  background-image: url('./../img/reviews/cloud-pink.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .slide-1 {
      background-image: url('./../img/reviews/cloud-pink-2x.png');
    }
  }
}

.slide-2 {
  background-image: url('./../img/reviews/cloud-green.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .slide-1 {
      background-image: url('./../img/reviews/cloud-green-2x.png');
    }
  }
}

.slide-3 {
  background-image: url('./../img/reviews/cloud-yellow.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .slide-1 {
      background-image: url('./../img/reviews/cloud-yellow-2x.png');
    }
  }
}

.slide-4 {
  background-image: url('./../img/reviews/cloud-violet.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .slide-1 {
      background-image: url('./../img/reviews/cloud-violet-2x.png');
    }
  }
}

.slide-5 {
  background-image: url('./../img/reviews/cloud-pink.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .slide-1 {
      background-image: url('./../img/reviews/cloud-pink-2x.png');
    }
  }
}

.slide-6 {
  background-image: url('./../img/reviews/cloud-green.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .slide-1 {
      background-image: url('./../img/reviews/cloud-green-2x.png');
    }
  }
}
