.terms-section {
  width: 288px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1440px) {
    & {
      width: 1232px;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
    }
  }
}
.terms-wrapper {
  width: 288px;
  padding-top: 148px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 72px;
  @media (min-width: 1440px) {
    & {
      padding-top: 180px;
      width: 1024px;
      padding-bottom: 104px;
    }
  }
  .terms-title {
    margin-bottom: 4px;
    @media (min-width: 1440px) {
      & {
        margin-bottom: 16px;
      }
    }
  }
  .terms-text {
    margin-bottom: 12px;
  }
}
