<section id="about">
  <div class="container about-contanier">
    <h2 class="about-title">
      <span class="about-title-styled">About</span> the game
    </h2>
    <img
      class="about-line-img"
      src="./img/about/about-line.png"
      alt="decorative image line"
    />

    <img
      class="about-line-desktop-img"
      src="./img/about/about-desktop-line.png"
      alt="decorative image line"
    />
    <div class="about-content">
      <div class="about-content-item-with-title">
        <img
          class="about-star-img left"
          src="./img/about/about-left-star.png"
          alt="decorative image star"
        />
        <img
          class="about-star-img right"
          src="./img/about/about-right-star.png"
          alt="decorative image star"
        />
        <img
          src="./img/about/about-content-title-1x.png"
          alt="about content title"
          class="about-content-title-image"
        />

        <p class="about-content-text">
          <span class="about-content-text-wrap">invites players</span> into a
          vibrant puzzle universe where each level presents unique challenges
          and mechanics. Navigate through a series of increasingly complex
          puzzles that require clever strategy and quick thinking. With its
          engaging storyline, players will unlock mysteries and characters that
          add depth and intrigue to the gameplay. Experience a blend of
          traditional puzzle elements with innovative twists that ensure a fresh
          and exciting gaming experience every time.
        </p>
      </div>
      <div class="about-content-item">
        <img
          src="./img/about/about-content-crossword-image-1x.png"
          alt="about content crossword"
          class="crossword-image"
        />
      </div>
    </div>
  </div>
</section>
