<section id="advantages">
  <div class="container advantages-container">
    <h3 class="advantages-title">
      <span class="advantades-purple-title">A</span>DVANTAGE<span
        class="advantades-yellow-title"
        >S</span
      >
    </h3>
    <ul class="advantages-list">
      <li class="advantages-item crossword">
        <picture class="advantages-item-image">
          <source
            srcset="./img/advantages/advantages-crossword-2x.png 2x"
            media="(min-resolution: 2dppx)"
          />
          <img
            src="./img/advantages/advantages-crossword-1x.png"
            alt="decorative image with crossword"
          />
        </picture>
        <p class="advantages-item-text">
          Unique puzzle designs that challenge and entertain
        </p>
      </li>
      <li class="advantages-item rainbow">
        <picture class="advantages-item-image">
          <source
            srcset="./img/advantages/advantages-rainbow-2x.png 2x"
            media="(min-resolution: 2dppx)"
          />
          <img
            src="./img/advantages/advantages-rainbow-1x.png"
            alt="decorative image with rainbow"
          />
        </picture>
        <p class="advantages-item-text">
          Colorful and engaging graphics that enhance the gaming experience
        </p>
      </li>
      <li class="advantages-item jar">
        <div class="advantages-item-image-wrap jar">
          <picture class="advantages-item-image jar">
            <source
              srcset="./img/advantages/advantages-jar-2x.png 2x"
              media="(min-resolution: 2dppx)"
            />
            <img
              src="./img/advantages/advantages-jar-1x.png"
              alt="decorative image with jar"
              class="advantages-item-image jar"
            />
          </picture>
        </div>
        <p class="advantages-item-text">
          Regular updates with new levels and features
        </p>
      </li>
      <li class="advantages-item crossword-second">
        <picture class="advantages-item-image">
          <source
            srcset="./img/advantages/advantages-crossword-second-2x.png 2x"
            media="(min-resolution: 2dppx)"
          />
          <img
            src="./img/advantages/advantages-crossword-second-1x.png"
            alt="decorative image with crossword"
          />
        </picture>
        <p class="advantages-item-text crossword-second">
          Intuitive gameplay suitable for all ages
        </p>
      </li>
      <li class="advantages-item picture picture">
        <div class="advantages-item-image-wrap picture">
          <picture class="advantages-item-image picture">
            <source
              srcset="./img/advantages/advantages-picture-2x.png 2x"
              media="(min-resolution: 2dppx)"
            />
            <img
              src="./img/advantages/advantages-picture-1x.png"
              alt="decorative image with picture"
            />
          </picture>
        </div>
        <p class="advantages-item-text picture">
          Multiplayer options to compete against friends or online opponents
        </p>
      </li>
      <li class="advantages-item skateboard">
        <div class="advantages-item-image-wrap skateboard">
          <picture class="advantages-item-image skateboard">
            <source
              srcset="./img/advantages/advantages-skateboard-2x.png 2x"
              media="(min-resolution: 2dppx)"
            />
            <img
              src="./img/advantages/advantages-skateboard-1x.png"
              alt="decorative image with skateboard"
              class="advantages-item-image skateboard"
            />
          </picture>
        </div>
        <p class="advantages-item-text">
          Rewards and bonuses for achieving high scores and completing
          challenges
        </p>
      </li>
      <li class="advantages-item volcano">
        <picture class="advantages-item-image volcano">
          <source
            srcset="./img/advantages/advantages-volcano-2x.png 2x"
            media="(min-resolution: 2dppx)"
          />
          <img
            src="./img/advantages/advantages-volcano-1x.png"
            alt="decorative image with volcano"
          />
        </picture>
        <p class="advantages-item-text">
          Offline playability for fun anytime, anywhere
        </p>
      </li>
      <li class="advantages-item message">
        <picture class="advantages-item-image message">
          <source
            srcset="./img/advantages/advantages-message-2x.png 2x"
            media="(min-resolution: 2dppx)"
          />
          <img
            src="./img/advantages/advantages-message-1x.png"
            alt="decorative image with message"
            class="advantages-item-image message"
          />
        </picture>

        <p class="advantages-item-text message">
          Customer support for any in-game issues or questions
        </p>
      </li>
    </ul>
    <img
      src="./img/advantages/advantages-line.png"
      alt="decorative line"
      class="advantages-line"
    />
  </div>
</section>
