<section>
  <div class="container benefits-container">
    <div class="benefits-title-wrap">
      <h3 class="benefits-title">BENEFITS</h3>
    </div>
    <ul class="benefits-items">
      <li class="benefit-item pink">
        <p class="benefit-text">Stars</p>
        <p class="benefit-number">4,8</p>
        <picture class="benefit-fire-icon mobile">
          <source
            srcset="./img/benefits/benefits-fire-2x.png 2x"
            media="(min-resolution: 2dppx)"
          />
          <img
            src="./img/benefits/benefits-fire-1x.png"
            alt="decorative image with message"
          />
        </picture>
      </li>
      <li class="benefit-item green">
        <p class="benefit-text">Downloads</p>
        <p class="benefit-number">50 000+</p>
        <picture class="benefit-fire-icon desctop">
          <source
            srcset="./img/benefits/benefits-fire-2x.png 2x"
            media="(min-resolution: 2dppx)"
          />
          <img
            src="./img/benefits/benefits-fire-1x.png"
            alt="decorative image with message"
          />
        </picture>
      </li>

      <li class="benefit-item yellow">
        <p class="benefit-text">Reviews</p>
        <p class="benefit-number">1000+</p>
        <picture class="benefit-like-icon">
          <source
            srcset="./img/benefits/benefits-like-2x.png 2x"
            media="(min-resolution: 2dppx)"
          />
          <img
            src="./img/benefits/benefits-like-1x.png"
            alt="decorative image with message"
          />
        </picture>
      </li>
      <li class="benefit-item single-text purple">
        <p class="benefit-text single-text">online / offline</p>
        <picture class="benefit-lines-icon">
          <source
            srcset="./img/benefits/benefits-lines-2x.png 2x"
            media="(min-resolution: 2dppx)"
          />
          <img
            src="./img/benefits/benefits-lines-1x.png"
            alt="decorative image with message"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
