<section>
  <div class="container faq-container">
    <div class="faq-image-container">
      <img
        class="faq-title-image"
        src="../img/faq/FAQ-2x.png"
        alt="FAQ title"
      />
      <img
        class="faq-arrow-image"
        src="../img/faq/arrow-faq-1x.png"
        alt="FAQ title"
      />
    </div>
    <ul class="faq-list">
      <li class="faq-item">
        <p class="faq-item-text">How do I save my game progress?</p>
        <div class="faq-item-icon-container">
          <img
            class="faq-item-image"
            src="../img/faq/question-mark.png"
            alt=""
          />
        </div>
        <div class="faq-item-content visually-hidden">
          <p class="faq-item-content-text">
            Game progress is automatically saved in your device.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <p class="faq-item-text">
          Can I play Gubbins without an internet connection?
        </p>
        <div class="faq-item-icon-container">
          <img
            class="faq-item-image"
            src="../img/faq/question-mark.png"
            alt=""
          />
        </div>
        <div class="faq-item-content visually-hidden">
          <p class="faq-item-content-text">
            Yes, the game can be played offline.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <p class="faq-item-text">Are there in-app purchases?</p>
        <div class="faq-item-icon-container">
          <img
            class="faq-item-image"
            src="../img/faq/question-mark.png"
            alt=""
          />
        </div>
        <div class="faq-item-content visually-hidden">
          <p class="faq-item-content-text">
            Yes, but they are optional and not required to progress.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <p class="faq-item-text">What age group is Gubbins suitable for?</p>
        <div class="faq-item-icon-container">
          <img
            class="faq-item-image"
            src="../img/faq/question-mark.png"
            alt=""
          />
        </div>
        <div class="faq-item-content visually-hidden">
          <p class="faq-item-content-text">
            It’s designed for players of all ages.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <p class="faq-item-text">How often are new levels released?</p>
        <div class="faq-item-icon-container">
          <img
            class="faq-item-image"
            src="../img/faq/question-mark.png"
            alt=""
          />
        </div>
        <div class="faq-item-content visually-hidden">
          <p class="faq-item-content-text">
            New levels are added regularly to keep the game exciting.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <p class="faq-item-text">Can I play Gubbins on multiple devices?</p>
        <div class="faq-item-icon-container">
          <img
            class="faq-item-image"
            src="../img/faq/question-mark.png"
            alt=""
          />
        </div>
        <div class="faq-item-content visually-hidden">
          <p class="faq-item-content-text">
            Yes, you can sync your game across devices using your account.
          </p>
        </div>
      </li>
    </ul>
    <img class="faq-arm-image" src="../img/faq/arm-2x.png" alt="" />
    <img class="faq-line-image" src="../img/faq/faq-line.png" alt="" />
  </div>
</section>
