<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer-disclaimer-container">
        <p class="footer-disclaimer-text">
          Disclaimer: PROTOPJOY.COM IS A PLATFORM FOR HAVING FUN. THE
          PROBABILITY OF WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME
          AS WINNING IN REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES
          OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME!
        </p>
      </div>
      <div class="footer-container-wrapper">
        <div class="footer-rights-container">
          <p class="footer-rights-text">
            All rights reserved protopjoy.com | 2024
          </p>
        </div>
        <div class="footer-info-container">
          <div class="footer-info-wrapper">
            <p class="footer-info-text">Privacy policy</p>
          </div>
          <div class="footer-info-line"></div>
          <div class="footer-info-text-separator"><p>/</p></div>
          <div class="footer-info-wrapper">
            <p class="footer-info-text">Terms and conditions</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-image-container">
      <a href="/"
        ><img
          class="footer-image"
          src="../img/footer/footer-logo-1x.png"
          alt="gubbins footer logo"
      /></a>
    </div>
  </div>
</footer>
