<header class="header">
  <div class="wrapper">
    <div class="header-container">
      <div class="logo-container">
        <div class="logo">
          <a href="./index.html#hero">
            <picture>
              <source
                srcset="
                  ./img/header/logo-desctop.png    1x,
                  ./img/header/logo-desctop-2x.png 2x
                "
                media="(min-width: 1439px)"
              />
              <source
                srcset="
                  ./img/header/logo-mobile.png    1x,
                  ./img/header/logo-mobile-2x.png 2x
                "
                media="(max-width: 1438px)"
              />
              <img src="./img/header/logo-desctop.png" alt="logo" />
            </picture>
          </a>
        </div>
        <div class="slogan">
          GUBBINS - it`s a <br />
          word game
        </div>
      </div>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="./index.html#reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Advantages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./index.html#gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">FAQ</a>
        </li>
      </ul>
      <div class="menu">
        <button class="open-btn">
          <svg class="menu-icon" width="16" height="14">
            <use href="./img/sprite.svg#icon-Vector"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="modal-wrapper"></div>
    <div class="back-drop">
      <button class="close-btn">
        <svg class="close-icon" width="24" height="24">
          <use href="./img/sprite.svg#close_icon"></use>
        </svg>
      </button>
      <ul class="nav-mobile-list">
        <li class="nav-item">
          <a class="nav-link" href="./index.html#reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Advantages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./index.html#gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</header>
