<header class="header">
  <div class="wrapper">
    <div class="header-container">
      <div class="logo-container">
        <div class="logo">
          <a href="#hero">
            <img src="../img/gubbins_logo.jpg" alt="logo" />
          </a>
        </div>
        <div class="slogan">
          GUBBINS - it`s a <br />
          word game
        </div>
      </div>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Advantages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">FAQ</a>
        </li>
      </ul>
      <div class="menu">
        <button class="open-btn">
          <svg class="menu-icon" width="16" height="14">
            <use href="../img/burger.svg#icon-Vector"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="modal-wrapper"></div>
    <div class="back-drop">
      <button class="close-btn">
        <svg class="close-icon" width="24" height="24">
          <use href="../img/close.svg#close_icon"></use>
        </svg>
      </button>
      <ul class="nav-mobile-list">
        <li class="nav-item">
          <a class="nav-link" href="">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Advantages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</header>
