<section class="hero" id="hero">
  <div class="hero-wrapper">
    <div class="descriptions">
      <h1 class="hero-title">
        <span class="title-color-g">G</span><span class="title-color-u">U</span
        ><span class="title-color-bb">BB</span
        ><span class="title-color-ins">INS</span>
      </h1>
      <div class="text-content">
        <p>
          Dive into the quirky world of Gubbins, where strategy meets fun in a
          colorful puzzle adventure! Challenge your mind, conquer levels, and
          outsmart the competition in this captivating puzzle saga.
        </p>
      </div>
      <div class="google-btn">
        <a
          href="https://play.google.com/store/apps/details?id=com.StudioFolly.GUBBINS&pli=1"
        >
          <picture>
            <source
              srcset="
                ./img/hero/google-btn.png    1x,
                ./img/hero/google-btn-2x.png 2x
              "
              media="(min-width: 1439px)"
            />
            <source
              srcset="
                ./img/hero/google-btn-mobile.png    1x,
                ./img/hero/google-btn-mobile-2x.png 2x
              "
              media="(max-width: 1438px)"
            />
            <img src="./img/hero/google-btn.png" alt="logo" />
          </picture>
        </a>
      </div>
    </div>
    <div class="scrin">
      <div class="phone">
        <picture>
          <source
            srcset="./img/hero/mockup.png 1x, ./img/hero/mockup-2x.png 2x"
            media="(min-width: 1439px)"
          />
          <source
            srcset="
              ./img/hero/mockup-mobile.png    1x,
              ./img/hero/mockup-mobile-2x.png 2x
            "
            media="(max-width: 1438px)"
          />
          <img src="./img/hero/mockup.png" alt="logo" />
        </picture>
      </div>
      <svg class="animal" width="72" height="34">
        <use href="./img/sprite.svg#icon-animal"></use>
      </svg>
    </div>
    <div class="hand-photo">
      <picture>
        <source
          srcset="./img/hero/hand.png 1x, ./img/hero/hand-2x.png 2x"
          media="(min-width: 1439px)"
        />
        <img src="./img/hero/hand.png" alt="logo" />
      </picture>
    </div>
  </div>
</section>
