<section class="hero" id="hero">
  <div class="hero-wrapper">
    <div class="descriptions">
      <h1 class="hero-title">GUBBINS</h1>
      <div class="text-content">
        <p>
          Dive into the quirky world of Gubbins, where strategy meets fun in a
          colorful puzzle adventure! Challenge your mind, conquer levels, and
          outsmart the competition in this captivating puzzle saga.
        </p>
      </div>
      <div class="google-btn">
        <a
          href="https://play.google.com/store/apps/deteils?id=com.zerologicgames.findaway"
        >
          <img src="./img/google-btn.png" alt="button" />
        </a>
      </div>
    </div>
    <div class="scrin">
      <div class="phone">
        <img src="./img/mockup-big.png" alt="phone" />
      </div>
      <svg class="animal" width="72" height="34">
        <use href="./img/animal.svg#icon-animal"></use>
      </svg>
    </div>
    <div class="hand-photo">
      <img src="./img/hand.png" alt="hand" />
    </div>
  </div>
</section>
