<section id="gallery">
  <div class="gallery-wrapper">
    <h2 class="gallery-title grid-item-1">
      <span class="gallery-color-g">G</span>a<span class="gallery-color-ll"
        >ll</span
      >ery
    </h2>
    <ul class="gallery-list grid-item-2">
      <li class="gallery-item gallery-active">
        <picture>
          <source
            srcset="
              ./img/gallery/gallery-first.png    1x,
              ./img/gallery/gallery-first-2x.png 2x
            "
          />
          <img src="./img/gallery/gallery-first.png" alt="logo" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/gallery/gallery-second.png    1x,
              ./img/gallery/gallery-second-2x.png 2x
            "
          />
          <img src="./img/gallery/gallery-second.png" alt="logo" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/gallery/gallery-third.png    1x,
              ./img/gallery/gallery-third-2x.png 2x
            "
          />
          <img src="./img/gallery/gallery-third.png" alt="logo" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/gallery/gallery-forth.png    1x,
              ./img/gallery/gallery-forth-2x.png 2x
            "
          />
          <img src="./img/gallery/gallery-forth.png" alt="logo" />
        </picture>
      </li>
    </ul>
    <ul class="gallery-buttons grid-item-3">
      <li class="gallery-btn gallery-btn-active">1</li>
      <li class="gallery-btn">2</li>
      <li class="gallery-btn">3</li>
      <li class="gallery-btn">4</li>
    </ul>
  </div>
</section>
