<section id="gallery">
  <div class="gallery-wrapper">
    <h2 class="gallery-title">Gallery</h2>
    <ul class="gallery-list">
      <li class="gallery-item gallery-active">
        <picture>
          <source
            srcset="
              ./img/gallery/gallery-first.png    1x,
              ./img/gallery/gallery-first-2x.png 2x
            "
          />
          <img src="./img/gallery/gallery-first.png" alt="logo" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/gallery/gallery-second.png    1x,
              ./img/gallery/gallery-second-2x.png 2x
            "
          />
          <img src="./img/gallery/gallery-second.png" alt="logo" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/gallery/gallery-third.png    1x,
              ./img/gallery/gallery-third-2x.png 2x
            "
          />
          <img src="./img/gallery/gallery-third.png" alt="logo" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/gallery/gallery-forth.png    1x,
              ./img/gallery/gallery-forth-2x.png 2x
            "
          />
          <img src="./img/gallery/gallery-forth.png" alt="logo" />
        </picture>
      </li>
    </ul>
    <ul class="gallery-buttons">
      <li class="gallery-btn">1</li>
      <li class="gallery-btn">2</li>
      <li class="gallery-btn">3</li>
      <li class="gallery-btn">4</li>
    </ul>
  </div>
</section>
