<section class="reviews-section" id="reviews">
  <div class="reviews-wrapper">
    <div class="white-box"></div>
    <div class="title-wrapper">
      <h2 class="reviews-title">Reviews</h2>
      <svg class="title-effect" width="56" height="104">
        <use href="./img/sprite.svg#icon-title-effect"></use>
      </svg>
    </div>

    <div class="slider">
      <ul class="slider-wrapper cloud-slider">
        <li class="slide-1 slider-item">
          <h4 class="cloud-title">PuzzleLover101</h4>
          <p class="cloud-content">
            &#34;Absolutely addictive! Every level feels fresh and the
            characters are just adorable.&#34;
          </p>
        </li>
        <li class="slide-2 slider-item">
          <h4 class="cloud-title">StrategistSam</h4>
          <p class="cloud-content">
            &#34;Great challenge, never boring. It&#39;s my go-to game during
            commutes.&#34;
          </p>
        </li>
        <li class="slide-3 slider-item">
          <h4 class="cloud-title">ColorfulCassie</h4>
          <p class="cloud-content">
            &#34;The graphics are so lively and cheerful, really brightens my
            day!&#34;
          </p>
        </li>
        <li class="slide-4 slider-item">
          <h4 class="cloud-title">BrainyBert</h4>
          <p class="cloud-content">
            &#34;"Perfect balance between challenging and fun. It&#39;s hard to
            put down.&#34;
          </p>
        </li>
        <li class="slide-5 slider-item">
          <h4 class="cloud-title">MultiplayerMax</h4>
          <p class="cloud-content">
            &#34;Love competing with my friends. The leaderboard makes it even
            more thrilling.&#34;
          </p>
        </li>
        <li class="slide-6 slider-item">
          <h4 class="cloud-title">HappyGamer</h4>
          <p class="cloud-content">
            &#34;Support team was quick to respond when I needed help. Great
            service!&#34;
          </p>
        </li>
      </ul>
    </div>

    <div class="line-slider">
      <ul class="line-slider-wrapper">
        <li class="slide-1 line-slider-item">
          <h4 class="cloud-title">PuzzleLover101</h4>

          <p class="cloud-content">
            &#34;Absolutely addictive! Every level feels fresh and the
            characters are just adorable.&#34;
          </p>
        </li>
        <li class="slide-2 line-slider-item">
          <h4 class="cloud-title">StrategistSam</h4>

          <p class="cloud-content">
            &#34;Great challenge, never boring. It&#39;s my go-to game during
            commutes.&#34;
          </p>
        </li>
        <li class="slide-3 line-slider-item">
          <h4 class="cloud-title">ColorfulCassie</h4>

          <p class="cloud-content">
            &#34;The graphics are so lively and cheerful, really brightens my
            day!&#34;
          </p>
        </li>
        <li class="slide-4 line-slider-item">
          <h4 class="cloud-title">BrainyBert</h4>

          <p class="cloud-content">
            &#34;"Perfect balance between challenging and fun. It&#39;s hard to
            put down.&#34;
          </p>
        </li>
        <li class="slide-5 line-slider-item">
          <h4 class="cloud-title">MultiplayerMax</h4>

          <p class="cloud-content">
            &#34;Love competing with my friends. The leaderboard makes it even
            more thrilling.&#34;
          </p>
        </li>
        <li class="slide-6 line-slider-item">
          <h4 class="cloud-title">HappyGamer</h4>

          <p class="cloud-content">
            &#34;Support team was quick to respond when I needed help. Great
            service!&#34;
          </p>
        </li>
      </ul>
    </div>

    <div class="reviews-btn">
      <button class="arrow-btn" type="button">
        <svg class="arrow-icon" width="44" height="14">
          <use href="./img/sprite.svg#icon-arrow-max"></use>
        </svg>
      </button>
    </div>
    <img
      class="reviews-left-line"
      src="./img/reviews/line_left.png"
      alt="line"
    />
    <img
      class="reviews-right-line"
      src="./img/reviews/line_right.png"
      alt="line"
    />
  </div>
</section>
