<section class="reviews-section" id="reviews">
  <div class="reviews-wrapper">
    <div class="white-box"></div>
    <h2 class="reviews-title">Reviews</h2>
    <div class="slide">
      <ul>
        <li>
          <img src="../img/reviews/cloud-green.png" alt="cloud" />
        </li>
        <li>
          <img src="../img/reviews/cloud-3.png" alt="cloud" />
        </li>
        <li>
          <img src="../img/reviews/cloud-4.png" alt="cloud" />
        </li>
      </ul>
    </div>
    <div class="reviews-btn">
      <button class="arrow-btn" type="button">
        <svg class="arrow-icon" width="44" height="14">
          <use href="../img/arrow-max.svg#icon-arrow-max"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
